body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cart-items {
  list-style: none;
}
.cart_img {
  width: 70px;
  height: 70px;
}
.cart_img img {
  width: 100%;
  height: 100%;
}
.cart_right {
  margin-left: 40%;
}
.menu a {
  color: #fff !important;
  font-size: 1.15rem;
}
